<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KS9SLJPS9N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KS9SLJPS9N');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function validateForm() {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse.length === 0) {
                alert("Please complete the reCAPTCHA.");
                return false;
            }
            return true;
        }
    </script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="/js/loadmore.js"></script>
    <link rel="icon" sizes="32x32" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="48x48" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="64x64" href="./images/favicon.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Real Estate Blogs in Gurgaon - Maison Infratech</title>
    <meta name="description" content="Read the latest blogs on real estate trends and property investment in Gurgaon. Get expert advice and updates from Maison Infratech">
    <meta name="keywords" content="Gurgaon real estate blogs, property investment advice, real estate trends Gurgaon, Gurgaon property market, real estate news Gurgaon, Maison Infratech blogs" />
    <link rel="canonical" href="https://maisoninfratech.in/blogs" />
    <meta property="og:title" content="Real Estate Blogs in Gurgaon - Maison Infratech" />
    <meta property="og:description" content="Read the latest blogs on real estate trends and property investment in Gurgaon. Get expert advice and updates from Maison Infratech" />
    <meta property="og:url" content="https://maisoninfratech.in/blogs" />
    <meta property="og:image" content="https://maisoninfratech.in/images/maison-new-logo1.jpg" />
    <meta name="robots" content="index, follow" />
    <link rel="alternate" hreflang="en" href="https://maisoninfratech.in/blogs" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Blog",
          "headline": "Real Estate Blogs in Gurgaon",
          "description": "Discover insightful blogs on real estate trends, property investment, and market analysis in Gurgaon. Stay updated with expert opinions and property advice from Maison Infratech.",
          "url": "https://maisoninfratech.in/blogs",
          "author": {
            "@type": "Organization",
            "name": "Maison Infratech"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Maison Infratech"
          },
          "datePublished": "2024-08-24"
        }
    </script>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/property.css">
    <link rel="stylesheet" href="/css/index.css" />

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/intlTelInput.css">
    <link rel="stylesheet" href="/css/intlTelInput.min.css">
    <script src="https://kit.fontawesome.com/9c5eb2a5cc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- <script src="js/loadMoreProjects.js"></script> -->
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/index.css" />

    <%- include("partials/navbar"); -%>
    
    <section id="img1">
        <div class="container">
            <div class="heading">
                <h1>
                    Explore Real Estate Blogs
                </h1>
            </div>
        </div>

    </section>


    <!--================= the section is starts form here =================== -->

    <section id="proj">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-head mx-auto">
                        <h2 class="latest">Latest Real Estate Trends in Gurgaon</h2>
                    </div>
                </div>
            </div>
            <!-- <div id="search-container">
                <input type="text" id="search-input" placeholder="Search...">
                <select id="search-option">
                    <option value="all">All</option>
                    <option value="residential">Residential Projects</option>
                    <option value="commercial">Commercial Projects</option>
                </select>
                <button id="search-button">Search</button>
            </div> -->

            <div class="container">
                <div class="#load">
                    <div class="row row12">
                        <% blogs.forEach(function(blog){ %>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 project">
                                <div class="main-div">
                                    <div class="main-data">
                                        <div class="img-data">
                                            <a class="clr-black" href="/blogs/<%=blog._id%>">
                                                <img src="/uploads/<%= blog.image %>" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="listing-data">
                                        <div class="heading-d">
                                            <h3 class="text-capitalize">
                                                <a class="clr-black head" href="/blogs/<%= blog._id %>">
                                                    <%= blog.title.length > 30 ? blog.title.substring(0, 30) + '...' : blog.title %>
                                                </a>
                                            </h3>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

                <div id="pagination-container">
                    <!-- Pagination links will be dynamically added here -->
                </div>
            </div>
        </div>
    </section>







    <%- include("partials/footer"); -%>