<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KS9SLJPS9N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KS9SLJPS9N');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function validateForm() {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse.length === 0) {
                alert("Please complete the reCAPTCHA.");
                return false;
            }
            return true;
        }
    </script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="/js/loadmore.js"></script>
    <link rel="icon" sizes="32x32" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="48x48" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="64x64" href="./images/favicon.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Maison Infratech - Top Real Estate Advisors in Gurgaon</title>
    <meta name="description" content="Looking for top real estate advisors in Gurgaon? Maison Infratech offers expert guidance for buying residential & commercial properties with best deals & services.">
    <meta name="keywords" content="real estate consultancy,real estate advisors, real estate realtor, Gurgaon real estate, property investment, buy luxury property, 3bhk flats, 2bhk flats, 4bhk flats, buy property in Gurgaon, Maison Infratech, Buy flat in gurgaon, gurgaon property prices" />
    <link rel="canonical" href="https://maisoninfratech.in/" />
    <meta property="og:title" content="Maison Infratech - Top Real Estate Advisors in Gurgaon" />
    <meta property="og:description" content="Looking for top real estate advisors in Gurgaon? Maison Infratech offers expert guidance for buying residential & commercial properties with best deals & services." />
    <meta property="og:url" content="https://maisoninfratech.in/" />
    <meta property="og:image" content="https://maisoninfratech.in/images/maison-new-logo1.jpg" />
    <meta name="robots" content="index, follow" />
    <link rel="alternate" hreflang="en" href="https://maisoninfratech.in/" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "RealEstateAgent",
          "name": "Maison Infratech",
          "url": "https://maisoninfratech.in/",
          "logo": "https://maisoninfratech.in/images/maison-new-logo1.jpg",
          "sameAs": [
            "https://www.facebook.com/MaisonInfratechOfficial",
            "https://www.instagram.com/maisoninfratechofficial/",
            "https://in.linkedin.com/company/maison-infratech-pvt-ltd"
          ],
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91-9999156255",
            "contactType": "Customer Service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Unit No. 610-617, Tower A Spaze 1 Tech Park Sohna Road Sector 49",
            "addressLocality": "Gurgaon",
            "addressRegion": "HR",
            "postalCode": "122018",
            "addressCountry": "IN"
          }
        }
        </script>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/property.css">
    <link rel="stylesheet" href="/css/index.css" />

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/intlTelInput.css">
    <link rel="stylesheet" href="/css/intlTelInput.min.css">
    <script src="https://kit.fontawesome.com/9c5eb2a5cc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- <script src="js/loadMoreProjects.js"></script> -->


<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
        /* Set fixed dimensions for slider container */
        .swiper-container {
            width: 100%;
            height: 400px;
            /* Set desired height */
            overflow-x: hidden;
        }

        /* Set fixed dimensions for each slide */
        .swiper-slide {
            width: 100%;
            /* Fill slider width */
            height: 100%;
            /* Fill slider height */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Ensure images fit inside slides without cropping */
        .swiper-slide img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            /* Ensure image width fits inside slide */
            height: auto;
            /* Ensure image height fits inside slide */
        }
        .carousel-container {
    position: relative;
}

.carousel-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
    width: 80%;
    font-size: 3rem; 
}

.carousel-inner .c-item img {
    height: inherit;
    max-height: 704px; /
}
/* Mobile Friendly Adjustments */
@media (max-width: 768px) {
    .carousel-container h1 {
        font-size: 2rem; /* Smaller font size for tablets and mobile */
        top: 40%;
    }
    .mobb{
        font-size: 5px;
    }
  

}

@media (max-width: 480px) {
    .carousel-container h1 {
        font-size: 1.5rem; /* Even smaller font size for small mobile devices */
    }
}

    </style>
</head>    

<%- include("partials/navbar"); -%>


    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-container">
            <h1>Expert Real Estate Consultancy in Gurgaon</h1>
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="./images/prime-commercial-property-deals-gurgaon.webp" class="d-block w-100 c-img" alt="Prime Commercial Property Deals in Gurgaon" />
                        <div class="carousel-caption d-md-block">
                            <h5 style="color: white;">Incredible deals on prime commercial properties</h5>
                        </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="./images/assured-return-properties-discounted-prices.webp" class="d-block w-100 c-img" alt="Assured Return Properties at Discounted Prices" />
                        <div class="carousel-caption d-md-block">
                            <h5 style="color: white;">Assured return properties at a discounted price</h5>
                        </div>
                    </div>
                    <div class="carousel-item c-item">
                        <img src="./images/unbeatable-property-deals-gurgaon.webp" class="d-block w-100 c-img" alt="Unbeatable Property Deals in Gurgaon" />
                        <div class="carousel-caption d-md-block">
                            <h5 style="color: white;">Get unbeatable deals on properties in Gurgaon!</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




    <!-- =================================================================================================================================== -->





    <a class="fbbutton hidden-button" href="https://www.facebook.com/PropriseHomes" target="_blank">
        <img src="./images/fbnew.png" alt="Facebook">
    </a>

    <a id="" class="whatsapp-button hidden-button" href="https://wa.me/+919560966122" target="_blank">
        <img src="./images/WhatsApp.svg.webp" alt="WhatsApp">

    </a>



    <section id="partners">
        <div class="container">
            <div class="container dev">
                <h2 class="latest" style="color: white;">Top Real Estate Developers</h2>
            </div>
        </div>
        <div class="partner-carousel">
            <div class="container">
                <div class="row">
                    <p style="color: white; text-align: center;" class="mobb">
                        Maison Infratech proudly partners with top real estate developers like DLF, Emaar, and others to bring you the best properties in Gurgaon. Our collaboration ensures that you get exclusive access to premium projects and unparalleled investment opportunities.
                    </p>
                    
                    <div class="carousel-wrapper">
                        <div class="carousel1">
                            <div class="slide">
                                <img class="part-img" src="images/dlf-india-real-estate-developer-logo.png" alt="DLF India - Leading Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/emaar-real-estate-developer-logo.png" alt="Emaar - Premium Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Elan-real-estate-developer-logo.png" alt="Elan - Best Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/M3M-real-estate-developer-logo.png" alt="M3M - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/AIPL-real-estate-developer-logo.png" alt="AIPL - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Central-Park-real-estate-developer-logo.png" alt="Central Park - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Conscient-real-estate-developer-logo.png" alt="Conscient - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Godrej-Properties-real-estate-developer-logo.png" alt="Godrej - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Omaxe-real-estate-developer-logo.png" alt="Omaxe - Real Estate Developer " />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/M3M-real-estate-developer-logo.png" alt="M3M - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Smartworld-real-estate-developer-logo.png" alt="Smartworld - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/SS-Group-real-estate-developer-logo.png" alt="SS Group - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Tata-Housing-real-estate-developer-logo.png" alt="Tata - Real Estate Developer" />
                            </div>
                            <div class="slide1">
                                <img class="part-img" src="images/Vatika-real-estate-developer-logo.png" alt="Vatika - Real Estate Developer" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================= the section is starts form here =================== -->

    <section id="proj">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-head mx-auto">
                        <h2 class="latest">Latest Real Estate Projects in Gurgaon</h2>
                        <p class="text-center">
                            Explore our latest real estate projects in Gurgaon, featuring luxurious apartments, commercial spaces, and more. 
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="#load">
                <div class="row row12">
                    <% posts.forEach(function(post){ %>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 project">
                            <div class="main-div">
                                <div class="main-data">
                                    <div class="img-data">
                                        <a class="clr-black" href="/posts/<%=post._id%>">
                                            <img src="/uploads/<%= post.images[0] %>" alt="<%=post.title%> - Real Estate Project in Gurgaon" />
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-data">
                                    <div class="heading-d">
                                        <h3 class="text-capitalize">
                                            <a class="clr-black head" href="/posts/<%=post._id%>">
                                                <%=post.title%>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            <div class="container load" style="align-items: center; justify-content: center;">
                <button id="load-more" class="loadmore">Load More</button>
            </div>


        </div>
    </section>

    <section id="aboutdiv">
        <div class="container ab-head">
            <h2 class="a-head">About Maison Infratech - Leading Real Estate Advisor in Gurgaon</h2>
        </div>
        <div class="container ab-para">
            <p class="a-para">
                Maison Infratech is a premier real estate advisory firm serving Gurgaon. With extensive experience and in-depth knowledge of the real estate market, we are dedicated to helping you find the perfect property in Gurgaon. Our team of experienced and visionary professionals provides expert guidance for both buying and selling properties. Discover unparalleled service and expert advice with Maison Infratech.

            </p>
        </div>
        <div class="container counter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                        <span>
                            <img class="img-fluid" src="images/real-estate-properties.png" alt="Real Estate Properties" />
                        </span>
                        <div class="min-count">
                            <b>
                                <span class="ag-counter">1000</span>
                                <span class="ag-counte">+</span>
                            </b>
                            <p>Properties</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                        <span>
                            <img class="img-fluid" src="images/real-estate_experince.png" alt="Years of Experince in Real estate" />
                        </span>
                        <div class="min-count">
                            <b>
                                <span class="ag-counter">15</span>
                                <span class="ag-counte">+</span>
                            </b>
                            <p>Years of Exellent Service</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                        <span>
                            <img class="img-fluid" src="images/real-estate-team.png" alt=" Real Estate Expert Team" />
                        </span>
                        <div class="min-count">
                            <b>
                                <span class="ag-counter">150</span>
                                <span class="ag-counte">+</span>
                            </b>
                            <p>Expert Team</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 margin-bottom-30 counter-inner">
                        <span>
                            <img class="img-fluid" src="images/happy-customers.png" alt="Real Estate Happy Customers" />
                        </span>
                        <div class="min-count">
                            <b>
                                <span class="ag-counter">10000</span>
                                <span class="ag-counte">+</span>
                            </b>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container" style="margin-top: 1rem;">
        <% if (aboutImages && aboutImages.length> 0) { %>
            <!-- <h2>About Images</h2> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% aboutImages.forEach((image, index)=> { %>
                        <div class="swiper-slide">
                            <img src="/uploads/<%= image %>" alt="About Image <%= index + 1 %>" class="img-fluid">
                        </div>
                        <% }) %>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                </div>
            </div>
            <% } %>
    </div>

    <section id="pro-type">
        
            <div class="container">
                <div class=" p-head">
                    <h2 class="pro-head">Property Types</h2>
                </div>
            </div>
            <div class="container p-div">
                <div class="property-container">
                    <div class="property">
                        <a href="/projects/commercial">
                            <img src="images/commertial-properties.jpg" alt="Commercial Properties" />
                       
                            <h3>Commercial Property</h3>
                        </a>
                    </div>
                    <div class="property">
                        <a href="/projects/residential"><img src="images/residential-properties.webp" alt="Residential Property - Main Image" />
                            <h3>Residential Property</h3>
                        </a>
                    </div>
                    <!-- Add more property items as needed -->
                </div>
            
        </div>
    </section>

    <!--================= the why us container is starts from here ============== -->

    <section id="why">
        <div class="container why-head">
            <div class="why-left">
                <h3>Why Us</h3>

                <p class="why-p why-left">
                    At Maison Infratech, we specialize in acquiring, managing, and selling premium real estate properties in Gurgaon and Delhi-NCR. Our commitment to transparency and client satisfaction sets us apart, ensuring you have complete confidence in our expertise. We strive to exceed expectations with our comprehensive real estate solutions.
                </p>
            </div>
        </div>
    </section>

    <!--========== the testimonials section is starts from is here ======= -->
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-heading mx-auto">
                        <p class="testi-p">CLIENTS REVIEWS</p>
                        <h2 class="testi-h2">
                            Hear From Our Satisfied Customers: Over 10,000 Happy Clients!
                        </h2>
                    </div>
                </div>
            </div>
            <div class="slide-container swiper">
                <div class="slide-content">
                    <div class="card-wrapper swiper-wrapper">
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="images/testi1.jpeg" alt="Ashish Pandey testimonial image"  class="card-img" />
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Ashish Pandey</h2>
                                <p class="description">
                                    I was extremely impressed with the customer service from Maison Infratech. Their agents were attentive, friendly, and always available. They guided me through the home-buying process with professionalism, making it a stress-free experience. Highly recommended for anyone looking for a dedicated real estate firm.
                                </p>

                                <!-- <button class="button">View More</button> -->
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="images/testi2.jpeg" alt="Rakesh Chawla testimonial photo" class="card-img" />
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Dr. Rakesh Chawla</h2>
                                <p class="description">
                                    Maison Infratech's expertise and dedication were remarkable. They provided valuable market insights and guided me to find my dream home quickly. Their attention to detail and understanding of transactions were impressive. Highly recommend their services for expert real estate guidance.
                                </p>

                                <!-- <button class="button">View More</button> -->
                            </div>
                        </div>
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <span class="overlay"></span>

                                <div class="card-image">
                                    <img src="images/testi3.jpeg" alt="Abhisek Chikara testimonial photo" class="card-img" />
                                </div>
                            </div>

                            <div class="card-content">
                                <h2 class="name">Abhisek Chikara</h2>
                                <p class="description">
                                    Maison Infratech excelled in selling my property swiftly at a higher price than expected. Their negotiation skills were outstanding, and I am extremely satisfied with the outcome. For a results-driven real estate firm, Maison Infratech is the way to go.
                                </p>

                                <!-- <button class="button">View More</button> -->
                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>


    <script src="js/loadMoreProjects.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Swiper
            var swiper = new Swiper('.swiper-container', {
                // Optional parameters
                loop: true,
                slidesPerView: 1,
                spaceBetween: 30,
                centeredSlides: true, // Center slides
                autoplay: {
                    delay: 3000, // Autoplay delay in milliseconds
                    disableOnInteraction: false, // Enable autoplay after user interaction
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        });
    </script>

    <%- include("partials/footer"); -%>