<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KS9SLJPS9N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KS9SLJPS9N');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function validateForm() {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse.length === 0) {
                alert("Please complete the reCAPTCHA.");
                return false;
            }
            return true;
        }
    </script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="/js/loadmore.js"></script>
    <link rel="icon" sizes="32x32" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="48x48" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="64x64" href="./images/favicon.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Maison Infratech - Real Estate Admin Dashboard</title>
    <meta name="description" content="Maison Infratech's Admin Dashboard: Manage and oversee real estate operations, including residential and commercial property listings in Gurgaon.">
    <meta name="keywords" content="real estate consultancy,real estate advisors, real estate realtor, Gurgaon real estate, property investment, buy luxury property, 3bhk flats, 2bhk flats, 4bhk flats, buy property in Gurgaon, Maison Infratech, Buy flat in gurgaon, gurgaon property prices" />
    <link rel="canonical" href="https://maisoninfratech.in/mails" />
    <meta property="og:title" content="Maison Infratech - Real Estate Admin Dashboard" />
    <meta property="og:description" content="Maison Infratech's Admin Dashboard: Manage and oversee real estate operations, including residential and commercial property listings in Gurgaon." />
    <meta property="og:url" content="https://maisoninfratech.in/mails" />
    <meta property="og:image" content="https://maisoninfratech.in/images/maison-new-logo1.jpg" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="alternate" hreflang="en" href="https://maisoninfratech.in/mails" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "RealEstateAgent",
          "name": "Maison Infratech",
          "url": "https://maisoninfratech.in/mails",
          "logo": "https://maisoninfratech.in/images/maison-new-logo1.jpg",
          "sameAs": [
            "https://www.facebook.com/MaisonInfratechOfficial",
            "https://www.instagram.com/maisoninfratechofficial/",
            "https://in.linkedin.com/company/maison-infratech-pvt-ltd"
          ],
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91-9999156255",
            "contactType": "Customer Service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Unit No. 610-617, Tower A Spaze 1 Tech Park Sohna Road Sector 49",
            "addressLocality": "Gurgaon",
            "addressRegion": "HR",
            "postalCode": "122018",
            "addressCountry": "IN"
          }
        }
        </script>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/property.css">
    <link rel="stylesheet" href="/css/index.css" />

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/intlTelInput.css">
    <link rel="stylesheet" href="/css/intlTelInput.min.css">
    <script src="https://kit.fontawesome.com/9c5eb2a5cc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- <script src="js/loadMoreProjects.js"></script> -->
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-G8tREmoVv7S9S71e+SNvZoRgu+Al0YzHO9P+akfHjp2PQaVI5hbvAe6J84oQx+VwRi+1v8XJ+rTj+6MX+yP3Sg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<%- include("partials/navbar"); -%>
    
    <div class="container">
        <h1 style="text-align: center;">Form Submissions</h1>

        <ul class="list-group">
            <% mails.forEach(function(mail) { %>
                <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size: 20px;">
                    <div>
                        <strong>Name:</strong>
                        <%= mail.name %><br>
                            <strong>Email:</strong>
                            <%= mail.email %><br>
                                <strong>Date:</strong>
                                <%= mail.timestamp.toDateString() %><br>
                                    <strong>Time:</strong>
                                    <%= mail.timestamp.toLocaleTimeString() %>
                    </div>
                    <div>
                        <a href="/mails/<%= mail._id %>" class="btn btn-primary mr2">Check</a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteModal<%= mail._id %>">Delete</button>
                    </div>

                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal<%= mail._id %>" tabindex="-1" role="dialog"
                        aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/remove/<%= mail._id %>" method="POST">
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" id="email<%= mail._id %>"
                                                name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <div class="input-group">
                                                <input type="password" class="form-control" id="password<%= mail._id %>"
                                                    name="password" required>
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary toggle-password"
                                                        type="button" data-target="#password<%= mail._id %>">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-danger">Confirm Deletion</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <% }); %>
        </ul>

    </div>
    <script>
        document.querySelectorAll('.toggle-password').forEach(function (button) {
            button.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                const passwordInput = document.querySelector(targetId);
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.querySelector('i').classList.toggle('fa-eye-slash');
            });
        });
    </script>