<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KS9SLJPS9N"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KS9SLJPS9N');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function validateForm() {
            var recaptchaResponse = grecaptcha.getResponse();
            if (recaptchaResponse.length === 0) {
                alert("Please complete the reCAPTCHA.");
                return false;
            }
            return true;
        }
    </script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="/js/loadmore.js"></script>
    <link rel="icon" sizes="32x32" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="48x48" href="./images/favicon.png" type="image/png">
    <link rel="icon" sizes="64x64" href="./images/favicon.png" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Maison Infratech - Residential & Commercial Properties in Gurgaon</title>
    <meta name="description" content="Explore a wide range of residential and commercial projects in Gurgaon. Find the best deals and detailed information on properties offered by Maison Infratech.">
    <meta name="keywords" content="real estate consultancy,real estate advisors, real estate realtor, Gurgaon real estate, property investment, buy luxury property, 3bhk flats, 2bhk flats, 4bhk flats, buy property in Gurgaon, Maison Infratech, Buy flat in gurgaon, gurgaon property prices, Residential properties, Commertial properties" />
    <link rel="canonical" href="https://maisoninfratech.in/projects" />
    <meta property="og:title" content="Maison Infratech - Residential & Commercial Properties in Gurgaon" />
    <meta property="og:description" content="Explore a wide range of residential and commercial projects in Gurgaon. Find the best deals and detailed information on properties offered by Maison Infratech." />
    <meta property="og:url" content="https://maisoninfratech.in/projects" />
    <meta property="og:image" content="https://maisoninfratech.in/images/maison-new-logo1.jpg" />
    <meta name="robots" content="index, follow" />
    <link rel="alternate" hreflang="en" href="https://maisoninfratech.in/projects" />
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "RealEstateAgent",
          "name": "Maison Infratech",
          "url": "https://maisoninfratech.in/projects",
          "logo": "https://maisoninfratech.in/images/maison-new-logo1.jpg",
          "sameAs": [
            "https://www.facebook.com/MaisonInfratechOfficial",
            "https://www.instagram.com/maisoninfratechofficial/",
            "https://in.linkedin.com/company/maison-infratech-pvt-ltd"
          ],
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91-9999156255",
            "contactType": "Customer Service"
          },
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Unit No. 610-617, Tower A Spaze 1 Tech Park Sohna Road Sector 49",
            "addressLocality": "Gurgaon",
            "addressRegion": "HR",
            "postalCode": "122018",
            "addressCountry": "IN"
          }
        }
        </script>
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/property.css">
    <link rel="stylesheet" href="/css/index.css" />

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/intlTelInput.css">
    <link rel="stylesheet" href="/css/intlTelInput.min.css">
    <script src="https://kit.fontawesome.com/9c5eb2a5cc.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <!-- <script src="js/loadMoreProjects.js"></script> -->
    <link rel="stylesheet" href="/css/projects.css">
    <link rel="stylesheet" href="/css/index.css" />
    <style>
        .no-results {
            color: red;
            font-size: 1.5rem;
            font-weight: bold;
        }
    </style>
    </head>
    <%- include("partials/navbar"); -%>

    <section id="img1">
        <div class="container">
            <div class="heading">
                <h1>Discover Top Residential and Commercial Real Estate Projects</h1>
            </div>
        </div>

    </section>


    <!--================= the section is starts form here =================== -->

    <section id="proj">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="sec-head mx-auto">
                        <h2 class="latest">Explore Our Most Recent Projects</h2>
                    </div>
                </div>
            </div>
            <div id="search-container">
                <input type="text" id="search-input" placeholder="Search...">
                <select id="search-option">
                    <option value="all">All</option>
                    <option value="Residential">Residential Projects</option>
                    <option value="Commercial">Commercial Projects</option>
                </select>
                <button id="search-button" onclick="performSearch()">Search</button>
            </div>

            <div class="container">
                <div class="#load">
                    <div class="row row12">
                        <% if (typeof noResults !== 'undefined' && noResults) { %>
                            <div class="col-12 text-center">
                                <p class="no-results">No Results Found</p>
                            </div>
                        <% } else { %>
                        <% posts.forEach(function(post){ %>
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 project">
                                <div class="main-div">
                                    <div class="main-data">
                                        <div class="img-data">
                                            <a class="clr-black" href="/posts/<%=post._id%>">
                                                <img src="/uploads/<%= post.images[0] %>" alt="Project Image - <%= post.title %>" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="listing-data">
                                        <div class="heading-d">
                                            <h3 class="text-capitalize">
                                                <a class="clr-black head" href="/posts/<%=post._id%>">
                                                    <%=post.title%>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                            <% } %>
                    </div>
                </div>

                <div id="pagination-container">
                    <!-- Pagination links will be dynamically added here -->
                </div>
            </div>
        </div>
    </section>
    <script>
        function performSearch() {
            const query = document.getElementById('search-input').value.trim();
            const category = document.getElementById('search-option').value;
    
            // Redirect to search URL with query and category parameters
            window.location.href = `/projects/search?query=${encodeURIComponent(query)}&category=${encodeURIComponent(category)}`;
        }
    </script>








    <%- include("partials/footer"); -%>